.p {
	margin: 0;

	color: var(--black);

	font-weight: normal;
	font-style: normal;
	line-height: 24px;
}

.small {
	font-size: var(--small-font);
}

.medium {
	font-size: var(--medium-font);
}

.large {
	font-size: var(--large-font);
	line-height: 29px;
}

.bold {
	font-weight: 700;
}
