.content {
	display: flex;
	align-items: center;
	justify-content: space-between;

	box-sizing: border-box;
	grid-area: content;
}

.agreement_privacy {
	display: flex;
}

.agreement {
	margin-right: 40px;
}

@media (max-width: 920px) {
	.content {
		align-items: center;
		flex-direction: column;
	}

	.agreement_privacy {
		flex-direction: column;
	}

	.rights {
		margin-bottom: 20px;

		text-align: center;
	}

	.agreement {
		margin-right: 0;
		margin-bottom: 20px;
	}
}
