.fill {
  fill: var(--primary);
}

.spanStar {
  cursor: pointer;
}

.star {
  margin-right: 5px;
}

.editable {
  cursor: pointer;
}

.error {
  stroke: var(--red)
}
.starWrapper {
  position: relative;
}
.starError {
  position: absolute;
  color: var(--red);
  top: -22px;
  left: 0;
  
}

