.header {
  display: grid;
  grid-template-columns: 1fr 40px;
  gap: 10px;
  margin: 15px 15px 0 15px;
}

.mobileMenu {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  overflow: scroll;
  bottom: 0;
  background: #F5F6F8;
  padding: 15px;
}
.menuClose {
  position: fixed;
  z-index: 11;
  top: 15px;
  right: 15px;
}
.menuSidebar {
  display: block;
}

@media screen and (min-width: 766px) {
  .header {
    display: none;
  }
  
}