.firstLevel {
  display: grid;
  grid-template-columns: 24px 1fr;
  gap: 20px;
  align-items: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  transition: all 0.3s ease;
  margin-top: 15px;
  pointer-events: none,
}

.firstLeveleActive span,
.firstLevel:hover {
  color: var(--primary);
  pointer-events: none,
}

.firstLeveleActive svg,
.firstLevel:hover svg {
  fill: var(--primary);
  pointer-events: none,
}

.secondLevel {
  margin-bottom: 20px;
  cursor: pointer;
  text-transform: uppercase;
  color: var(--gray-dark);
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  
}

.secondBlock {
  margin-left: 12px;
  padding-left: 32px;
  margin-top: 15px;
  margin-bottom: 20px;

  border-left: 1px solid #dfdfdf;
}

.secondLevelBlock {
  overflow: hidden;
}


.thirdLevel {
  margin-bottom: 10px;
  display: block;
  cursor: pointer;
  color: var(--gray-dark);
  font-weight: 500;
  font-size: 14px;
  outline-offset: -1px;
}

.thirdLevelActive, .thirdLevel:hover {
  color: var(--primary);
}
