html,
body {
	margin: 0;
	padding: 0;
	color: var(--black);
	background: #F5F6F8;
	font-family: 'Noto Sans KR', sans-serif;
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
}

:root {
	--black: #3B434E;
	--white: rgb(255, 255, 255);
	--gray-ligth: #EBEBEB;
	--gray: #E2E2E2;
	--primary: #7653FC;
	--primary-hover: #5131d1;
	--red: #FC836D;
	--red-ligth: #fdc6bd;
	--green: #1DC37E;
	--green-ligth: #C8F8E4;
	--font-family: 'Noto Sans KR', sans-serif;
	--small-font: 14px;
	--medium-font: 16px;
	--large-font: 18px;
	--gray-dark: #787D85;
}
